<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h3>List Product</h3>
<table id="product">
    <thead>
    <tr id="header-table">
        <th>ID</th>
        <th>Name Product</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="products : ${listProduct}">-->
<!--        <td th:text="${products.getId()}"></td>-->
<!--        <td th:text="${products.getProductName()}"></td>-->
<!--        <td th:text="${products.getPrice()}"></td>-->
<!--        <td th:text="${products.getDescription()}"></td>-->
<!--    </tr>-->
<tr th:each="products : ${listProduct}">
    <td th:text="${products.id}"></td>
    <td th:text="${products.productName}"></td>
    <td th:text="${products.price}"></td>
    <td th:text="${products.description}"></td>
</tr>
    </tbody>

</table>

</body>
</html>